<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render "user_info", user: @user %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="table-responsive">
        <h2>User 一覧</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>image</th>
              <th>user_name</th>
              <th>faculty</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image(100, 100), class: "rounded-circle border border-5" %></td>
                <td><%= user.name %></td>
                <td><%= user.faculty %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
