<!DOCTYPE html>
<html>
  <head>
    <title>KGBookMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <!-- header部分 -->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-primary">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none"><i class="far fa-moon-stars"></i></a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path, class: "nav-link px-2 text-light" %></li>
          <li><%= link_to "Listing", root_path, class: "nav-link px-2 text-light" %></li>
          <li><%= link_to "Books", root_path, class: "nav-link px-2 text-light" %></li>
          <li><%= link_to "Users", users_path, class: "nav-link px-2 text-light" %></li>
          <li><%= link_to "Favorites", root_path, class: "nav-link px-2 text-light" %></li>
        <% else %>
          <li><%= link_to "Home", root_path, class: "nav-link px-2 text-light" %></li>
          <li><%= link_to "About", about_path, class: "nav-link px-2 text-light" %></li>
        <% end %>
      </ul>
      <div class="col-md-3 text-end">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button type="button" class="btn btn-outline-primary me-2 text-light">Log out</button>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-outline-primary me-2 text-light">Log in</button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-primary">Sign up</button>
          <% end %>
        <% end %>
      </div>
    </header>

    <!-- main部分 -->
    <%= yield %>

    <!-- footer部分 -->
    <footer></footer>
  </body>
</html>
